#social-buttons a {
	color: white;
}
.btn-twitter {
	background-color:#00acee;
	border-color: #009ad5;
}
.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
	text-align: center;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}

 .jumbotron {
      min-height: 300px;
      background-image: url('images/yoga_society.jpg');
      background-size:cover;
      background-position: center;
    }
.mission {
	background-color:rgba(32 35 41 0.9);
	color:#333;

}
body {padding-top: 70px;}


.img{
	width: 275px;
	height: 200px;}

<<<<<<< HEAD
h1 {font-family: 'Italianno';
        font-size: 48px;
    }
.yog{
	width: 600px;
	height: 350px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
=======

h1 {
        font-family: 'Italianno' ;
        font-size: 48px;}


>>>>>>> origin/gh-pages
